body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background: #f7fbfb;
}

/* HEADER */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.signin-button {
  margin-right: 4% !important;
  background: #009879 !important;
  color: white !important;
}

#rchain-logo {
  margin: 2% !important;
}

/*MAIN CONTENT */

#main-title {
  font-family: 'Fira Sans', sans-serif;
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 4vw;
  margin-top: 5vw;
}

#ballot-icon {
  width: 14vw;
  margin-bottom: 20vw;
}

#main-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: 75%;
}

.table {
  width: 90%;
}
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 700px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  width: 100%;
}

.table-title {
  font-weight: 600;
  font-size: 1.5em;
}

.table-icon {
  font-weight: 600;
  font-size: 1.5em;
  margin-right: auto !important;
  margin-left: auto !important;
}

.styled-table thead th {
  /* border-left: none;
  border-right: none; */
  border: none;
  /* margin: 3px !important; */
  background: #009879 !important;
  color: white !important;
}

.voting-link {
  text-align: center;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: 1em !important;
  width: 100%;
}

.envelope {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;

  margin-right: auto !important;
  margin-left: auto !important;
  font-size: 1.8em !important;
  color: black;
}

.selected.support {
  color: #009879 !important;
}

.selected.abstain {
  color: rgb(216, 163, 18);
}

.selected.oppose {
  color: rgb(180, 22, 22);
}

.id-cell {
  text-align: center !important;
  font-size: 1.3em;
}
.issue-description {
  width: 65%;
  word-break: break-word;
  font-size: 1.3em;
}

.submit-button {
  background: #009879 !important;
  margin-top: 5vw !important;
  margin-bottom: 5vw !important;
}

/*Even rows*/

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f7fbfb;
}

.btn {
  width: 80px;
  height: 30px;
  color: black;
  border-color: rgb(155, 154, 154);
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover {
  background-color: #e0e2e2;
}

.img {
  margin-left: 140px;
}

.loading-bar {
  background-color: #e9ecef;
  color: #e9ecef;
  width: 500px;
  border-radius: 5px;
}

/* .styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
} */

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

/* .styled-table tbody:active {
    font-weight: bold;
    color: #009879;
} */

fieldset {
  border-radius: 5px;
  border-width: 1px;
  border-color: rgb(226, 224, 224);
}

select {
  border-color: rgb(155, 154, 154);
  font-style: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

select:active {
  border-color: #e0e2e2;
}

textarea {
  border-radius: 5px;
  border-width: 1px;
  border-color: rgb(226, 224, 224);
}

footer,
hr {
  margin-left: 170px;
  margin-right: 120px;
}
