body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background: #f7fbfb;
}

/* HEADER */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.signin-button {
  margin-right: 4% !important;
}

#rchain-logo {
  margin: 2% !important;
}

/*MAIN CONTENT */

#main-title {
  font-family: 'Fira Sans', sans-serif;
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 100px;
}

.main-content {
  display: flex;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 170px;
  margin-right: 120px;
}

.btn {
  width: 80px;
  height: 30px;
  color: black;
  border-color: rgb(155, 154, 154);
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover {
  background-color: #e0e2e2;
}

.img {
  margin-left: 140px;
}

.loading-bar {
  background-color: #e9ecef;
  color: #e9ecef;
  width: 500px;
  border-radius: 5px;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

/* .styled-table tbody:active {
    font-weight: bold;
    color: #009879;
} */

.desc {
  width: 700px;
}

fieldset {
  border-radius: 5px;
  border-width: 1px;
  border-color: rgb(226, 224, 224);
}

select {
  border-color: rgb(155, 154, 154);
  font-style: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

select:active {
  border-color: #e0e2e2;
}

textarea {
  border-radius: 5px;
  border-width: 1px;
  border-color: rgb(226, 224, 224);
}

footer,
hr {
  margin-left: 170px;
  margin-right: 120px;
}
