/**
 * prism-rholang.js theme
 * Based on “prism-funky.css” from http://jasonrivers.github.io/prism/
 * @author Bill Keuntje
 */

code[class*="language-"],
pre[class*="language-"] {
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: .4em .8em;
	margin: .5em 0;
	overflow: auto;
	background: black;
	background-size: 1em 1em;
}

code[class*="language-"] {
	background: black;
	color: white;
	box-shadow: -.3em 0 0 .3em black, .3em 0 0 .3em black;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .2em;
	border-radius: .3em;
	box-shadow: none;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #aaa;
}

.token.punctuation {
	color: #999;
}

.token.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
	color: #0cf;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin {
	color: yellow;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.token.variable,
.token.inserted {
	color: green;
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: cyan;
}

.token.regex,
.token.important {
	color: orange;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.deleted {
	color: red;
}

/* Plugin styles: Diff Highlight */
pre.diff-highlight.diff-highlight > code .token.deleted:not(.prefix),
pre > code.diff-highlight.diff-highlight .token.deleted:not(.prefix) {
	background-color: rgba(255, 0, 0, .3);
	display: inline;
}

pre.diff-highlight.diff-highlight > code .token.inserted:not(.prefix),
pre > code.diff-highlight.diff-highlight .token.inserted:not(.prefix) {
	background-color: rgba(0, 255, 128, .3);
	display: inline;
}

.editing, .highlighting {
  /* Both elements need the same text and space styling so they are directly on top of each other */
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 10px;
  padding: 10px;
  border: 2px;
  width: 100%;
  height: 30%;
  max-height: 30%;
}

/* Everybody needs to have the same text.
 * Also add text styles to highlighting tokens
 */
.editing, .highlighting, .highlighting * .highlighting-content, .highlighting * {
  font-size: 10pt;
  font-family: monospace;
  line-height: 15pt;
}

/* Editing window belongs needs to be transparent with a visible cursor and in front*/
.editing {
  color: transparent;
  background: transparent;
  caret-color: white; /* Or your favorite color */
  z-index: 1;
}

/* Higlighting window belongs under the editor window */
.highlighting {
  background: black;
  z-index: 0;
}

/* Enable scrolling */
.editing, .highlighting {
  overflow: auto;
  white-space: nowrap; /* Allows textarea to scroll horizontally */
}

.codeEditor {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  max-height: 30%;
  overflow: scroll;
}

/* The top of the page */
.actionSelection {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 70%;
	max-height: 70%;
	overflow-y: scroll;
}

/* From previous participate.html */
/* .card {
	display: inline-block;
	border: 1px solid black;
	border-radius: 10px;
	background-color: pink;
	padding: 4px;
	margin: 2px;
} */


/* ripped from prism-line-numbers.css */
/* pre[class*="language-"].line-numbers {
	position: relative;
	padding-left: 3.8em;
	counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
	position: relative;
	white-space: inherit;
}

.line-numbers .line-numbers-rows {
	position: absolute;
	pointer-events: none;
	top: 0;
	font-size: 100%;
	left: -3.8em;
	width: 3em; /* works for line-numbers below 1000 lines *
	letter-spacing: -1px;
	border-right: 1px solid #999;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

.line-numbers-rows > span {
	display: block;
	counter-increment: linenumber;
}

.line-numbers-rows > span:before {
	content: counter(linenumber);
	color: #999;
	display: block;
	padding-right: 0.8em;
	text-align: right;
} */
